Python/twitter_filter/captured_tweets/*
Python/twitter_filter/feature_sets/*
**/pickled_algos/*
Python/twitter_filter/twitter_auth_key.pickle
Python/twitter_filter/quandl_key.pickle
**/.idea/*
**/__pycache__/*
key
