asn1crypto==0.22.0
beautifulsoup4==4.5.3
cffi==1.10.0
colorama==0.3.9
cryptography==1.8.1
cx-Freeze==5.0.1
cycler==0.10.0
docutils==0.13.1
easygui==0.98.1
emoji==0.4.5
html5lib==0.999999999
idna==2.5
inflection==0.3.1
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
lxml==3.7.3
matplotlib==2.0.0
more-itertools==2.6.0
ndg-httpsclient==0.4.2
nltk==3.2.2
oauthlib==2.0.2
olefile==0.44
Optunity==1.1.1
packaging==16.8
pandas==0.19.2
patsy==0.4.1
Pillow==4.0.0
protobuf==3.2.0
py2exe==0.9.2.2
pyasn1==0.2.3
pycparser==2.17
pydot==1.2.3
Pygments==2.2.0
pyOpenSSL==16.2.0
pyparsing==2.2.0
pypiwin32==219
python-dateutil==2.6.0
pytz==2016.10
Quandl==3.1.0
requests==2.13.0
requests-oauthlib==0.8.0
scikit-learn==0.18.1
sip==4.19.2
six==1.10.0
sklearn==0.0
tensorflow==1.0.1
textblob==0.12.0
textblob-aptagger==0.3.0.dev0
tweepy==3.5.0
webencodings==0.5
win-unicode-console==0.5
xlrd==1.0.0
./numpy-1.12.1+mkl-cp35-cp35m-win_amd64.whl
./scipy-0.19.0-cp35-cp35m-win_amd64.whl
./PyQt4-4.11.4-cp35-cp35m-win_amd64.whl
./statsmodels-0.8.0-cp35-cp35m-win_amd64.whl